

#home {
  position: relative;
  height: 100vh;
  width: 100%;
}

.section {
  background-color: rgb(63, 25, 170);
  justify-content: center;
  align-items: center;
}

.text span {
  font-weight: bold;
}

.text {
  font-size: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.animated-text span {
  display: none;
  line-height: 1;
}

.animated-text span.active {
  display: inline-block;
}

.animated-text:after {
  content: "_";
  display: inline-block;
  width: 10px;
  text-indent: 0;
  
}


/*Social icons*/

:root {
  --link-size: 64px;
  --trans-props: all 0.2s ease;
  --link-size-footer-b: 40px;
  --link-size-footer-s: 30px;
}

.social-icons {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.socialicon {
  display: flex;
  position: relative;
  overflow: hidden;
  width: var(--link-size);
  height: var(--link-size);
  margin: 8px;
  text-decoration: none;
  transition: var(--trans-props);
}
.socialicon{
  display: flex;
  position: relative;
  overflow: hidden;
  width: var(--link-size);
  height: var(--link-size);
  background-color: #fff;
  margin: 8px;
  border-radius: 50%;
  box-shadow: 2px 5px 5px var(--shadow-col);
  text-decoration: none;
  transition: var(--trans-props);
}
.socialicon i {
  margin: auto;
  font-size: 24px;
  z-index: 1;
 
}

.linkedin i {
  margin: auto;
  font-size: 24px;
  z-index: 1;
 
}

.gmail i {
  margin: auto;
  font-size: 24px;
  z-index: 1;
  transition: var(--trans-props);
}
.instagram i {
  margin: auto;
  font-size: 24px;
  z-index: 1;
  transition: var(--trans-props);
}
.github i {
  margin: auto;
  font-size: 24px;
  z-index: 1;
  transition: var(--trans-props);
}
.socialicon.twitter{
  color: var(--col-icon-twitter);
}

.socialicon.github{
  color:var(--col-icon-github);
} 

.socialicon.linkedin{
  color: var(--col-icon-linkedin);
}

.socialicon.gmail{
  color: var(--col-icon-mail);
}

.socialicon.instagram{
  color: var(--col-icon-instagram);
}


/*** Social Icon Animations ***/

.socialicon:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
}
.socialicon:hover:after {
  transform: translate(0) scale(1.2);
}
.socialicon:hover i {
  color: #000;
}
a:hover {
  color: transparent;
}

@media only screen and (max-width: 450px) {
  .text {
    margin-top: 5rem;
  }
}
